.Escolha {
  text-align: center;
}

.Escolha-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 80rem;
  padding: 5rem;
  background-color: lightgray;
}

.Card-esquerda,
.Card-direita {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
  height: 30rem;
  width: 36rem;
}

.Card-esquerda {
  flex-direction: column;
  justify-content: center;
}

.Card-direita {
  flex-direction: row;
}

.Card-inicial-1 {
  height: 7rem;
  width: 23rem;
  margin: 2rem 2rem 0rem 2rem;
}

.Card-inicial-2 {
  height: 7rem;
  width: 23rem;
  margin: 3rem 2rem;
}

.Card-inicial-3 {
  height: 7rem;
  width: 23rem;
  margin: 0rem 2rem 2rem 2rem;
}

.Caixa-selecao {
  background-color: whitesmoke;
  display: flex;
  margin: 2rem;
  height: 26rem;
  width: 29rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  border-color: rgb(158, 157, 157);
  border-width: 2px;
}

@media screen and (max-width: 1500px) {
  .Container-cards {
    height: 30rem;
    width: 60rem;
  }

  .Caixa-selecao {
    height: 26rem;
    width: 29rem;
  }
}
