.Container-lista {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-lista {
  height: 6.5rem;
  background-color: rgba(0, 80, 134, 0.9);
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0rem 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Titulo {
  color: rgb(245, 245, 245);
  font-size: 3rem;
  font-family: Garamond;
  margin: 1rem;
  padding: 8rem 0rem 1rem 0rem;
}

.Container-tela {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 2rem;
}

.Container-duoType {
  display: flex;
  flex-direction: column;
}

.Container-tabela {
  width: 50rem;
}

.Container-loading {
  padding-top: 8rem;
}

/* Estilos Tabela */

.datatable-templating-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable-templating-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
