.Lista {
  text-align: center;
}

.Lista-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container-tela {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 2rem;
}

.Container-duoType {
  display: flex;
  flex-direction: column;
}

.Container-tabela {
  width: 50rem;
}

.Container-loading {
  padding-top: 8rem;
}

.Container-card {
  background-color: rgb(233, 236, 239);
  width: 20rem !important;
  height: 60rem !important;
}

/* Estilos Tabela */

.datatable-templating-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable-templating-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
